@import "bootstrap/dist/css/bootstrap.min.css";

img {
  width: 100%;
  height: auto;
  opacity: 70%;
}

body {
  height: 60%;
  font-family: 'serif';

}

.centered {
  position: absolute;
  top: 40%;
  left: 15%;
  right: 15%;
  color: black;
  font-size: large;
  font-weight: 900;
}
.card-text{
  font-size: x-small;
  font-style: italic;
  text-align: center;
}
